
<div class="box info" id="selection">

  <h2>{{label}}</h2>

  <div *ngIf="link">
    <a href="{{link}}">{{link}}</a>
  </div>

  <img *ngIf="thumbnail" class="icon" src="{{thumbnail}}"/>

  <p-table [value]="table" styleClass="p-datatable-striped"
	   [tableStyle]="{'min-width': '20rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-table>
      <tr>
        <td>{{table.key}}</td>
        <td>{{table.value}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>

