
<h2>Welcome to SPARQL Explorer!</h2>

<p>
  This UI explores a knowledge graph dataset.
</p>

<p>
  To get started either:
</p>

<ul>
  <li>
    Select the menu icon and click <b>Search</b> to search for text in
    knowledge object properties and labels, or
  </li>
  <li>
    Select the menu icon and click <b>Schema</b> to see a list of graph
    classes.  You may be able to find knowledge linked to these classes, and
    use that as a starting point for graph exploration.  Note that there
    may be classes in the schema with no linked information, so you should
    look for classes which you think exist in the dataset.
  </li>
</ul>

<p>
  Once you have some graph nodes to work with, you can:
</p>

<ul>
  <li>
    Click on a graph node to see properties in detail
  </li>
  <li>
    Click on a node and press <b>re-centre</b>, this clears the
    entire graph leaving only the selected node.  This can be
    useful if your graph display is cluttered and you want to
    continue exploring with less information on the screen.
  </li>
  <li>
    Select a graph node, and click navigation buttons which appear
    with arrow icons e.g. <b>type &#x2b95;</b>.  This tells
    SPARQL Explorer to add nodes related to the selected object
    by following the relationships shown.
  </li>
</ul>

<p>
  Note when exploring relationships, all relationships have a
  direction (indicated by the direction of arrow-heads on the
  lines.  The direction of the arrow on the button indicates which
  direction to explore.
</p>

<ul>
  <li>
    When the arrow icon is on the left of the button, SPARQL
    explorer will look for relationships which are 'incoming' i.e.
    the arrow-head points to the selected node.
  </li>
  <li>
    When the arrow icon is on the right of the button, SPARQL
    explorer will look for relationships which are 'outgoing' i.e.
    the arrow-head points away from the selected node.
  </li>
</ul>

<p>
  By way of an example, if you select a node and then press
  the button marked <b>type &#x2b95;</b>, you will explore <b>type</b>
  relationships with the selected node at the start of the arrow.
  This is essentially asking "What type is this node?".
</p>

<p>
  If you select a node and select the button
  marked <b>&#x2b95; type</b>, you will explore <b>type</b>
  relationships with the selected node at the end of the arrow.
  This is essentially asking "Show me all nodes which have this type?".
</p>
