
<div class="box">
  <graph></graph>
</div>

<div class="box" id="selection" *ngIf="selected">
  <div>
    ID: {{selected}}
  </div>
  <div>
    {{selectedLabel}}
  </div>
  <div>
    <div *ngFor="let prop of properties | keyvalue">
      {{prop.key}}: {{prop.value}}
    </div>
  </div>
  <div>
    <button id="expandin" (click)="expandIn()">Expand inbound</button>
    <button id="expandout" (click)="expandOut()">Expand outbound</button>
    <button id="centre" (click)="recentre()">Re-centre</button>
  </div>
</div>

