
.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.graph {
    flex-grow: 1;
}

.controls {
    height: 4rem;
    display: flex;
}

.info {
    height: 24rem;
    overflow: scroll;
}

.box {
    border: 1px solid #e0e0e0;
    padding: 0.1rem;
    margin: 0.1rem;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #c0c0c0;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.key {
    color: white;
    background-color: #204080;
    font-weight: bold;
    text-align: right;
}

button {
    margin: 0.8rem 0.5rem 0.3rem 0.5rem;
}

.box div {
    margin: 0.8rem;
}

img {
    max-width: 150px;
    border: 1px solid #808080;
    margin: 0.5rem;
    padding: 0.2rem;
}
