
img {
    max-width: 150px;
    border: 1px solid #808080;
    margin: 0.5rem;
    padding: 0.2rem;
}

h2 {
    margin-bottom: 0.8rem;
}

.box div {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.buttonbox {
    margin: 0 0 2.2rem 0;
}

button {
    margin: 0.2rem;
    padding: 0.8rem;
}

