
p-button {
    padding: 0.3rem;
}

.container {
    display: flex;
    flex-flow: column;
    height: 85vh;
    border: 1px solid #e0e0e0;
}

.graph {
    flex-grow: 1;
}

.controls {
    height: 4rem;
    display: flex;
}

.info {
    height: 24rem;
    overflow: scroll;
}

.box {
    border: 1px solid #e0e0e0;
    padding: 0.1rem;
    margin: 0.1rem;
}

.box.info {
    margin: 0.2rem;
    padding: 0.8rem;
}

