
.menu {
    position: absolute;
    padding: 1rem;
    border: 1px solid baclk;
    z-index: 999;
}

p-button {
    margin: 0 0 0 1rem;
}

.container {
    height: calc(100vh);
    width: 100%;
    border: 1px solid #e0e0e0;
    margin: auto;
}

.graph {
    height: 100%;
    width: 100%;
}

