
<p-tabView>

  <p-tabPanel header="Information">
    <info></info>
  </p-tabPanel>

  <p-tabPanel header="Graph">
    <p-toolbar>
      <div class="p-toolbar-group-left">
	<p-button label="Search" (click)="search()" icon="pi pi-search">
	</p-button>
	<p-button label="Schema" (click)="schema()" icon="pi pi-list">
	</p-button>
      </div>
    </p-toolbar>
    <div class="container">
      <div class="graph">
	<graph></graph>
      </div>
    </div>
  </p-tabPanel>

</p-tabView>

<node-dialog
  [display]="nodeDialogVisible"
  [properties]="properties"
  [relationships]="relationships"
  [selection]="selection"
  (onClose)="closeNodeDialog()"
  >
</node-dialog>

<search-dialog
  [display]="searchDialogVisible"
  (onClose)="closeSearchDialog()"
  >
</search-dialog>

<schema-dialog
  [display]="schemaDialogVisible"
  (onClose)="closeSchemaDialog()"
  >
</schema-dialog>

