
p-button {
    margin: 0 0 0 1rem;
}

.container {
    height: calc(100vh - 5.5rem);
    width: 100%;
    border: 1px solid #e0e0e0;
    margin: auto;
}

.graph {
    height: 100%;
    width: 100%;
}

