
<p-dialog class="dialog"
	  [(visible)]="display" [modal]="false" position="right"
	  [breakpoints]="{'1200px': '40rem', '960px': '75vw', '640px': '100vw'}"
	  [style]="{width: '50rem'}"
	   (onHide)="onHide()">

  <ng-template pTemplate="header">
    <h2>Export graph</h2>
  </ng-template>

  <p>
    You can keep a copy of the graph layout by copying the text below.
    Later you can paste it into the import dialog to reload a graph in the
    same state.
  </p>

  <div>
    <textarea #text pInputTextarea [(ngModel)]="data"
	      [autoResize]="true"
	      [style]="{'width':'90%'}"
	      >
    </textarea>
    </div>

  <div>
    <button pButton pRipple type="button"
	    class="p-button-raised p-button-rounded" icon="pi pi-copy"
	    (click)="copy()">
    </button>
  </div>

  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" class="p-button-raised p-button-text"
	    (click)="close()">
      Close
    </button>
  </ng-template>

</p-dialog>

