
<div class="box info" id="selection">

  <h2>Search</h2>

  <div>
    <input value="" type="text" #searchText>
    <button (click)="search(searchText.value)">Search</button>
  </div>

  <div *ngIf="!executed">
    Simple search facility, only does sub-string text match at the moment.
  </div>

  <div *ngIf="results.length > 0">
    <h2>Results</h2>
    <table>
      <tr>
	<th>Entity</th>
	<th>Property</th>
	<th>Value</th>
      </tr>
      <tr *ngFor="let row of results">
	<td><button (click)="select(row[0])">{{row[1]}}</button></td>
	<td class="key">{{row[3]}}</td>
	<td>{{row[4]}}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="executed && results.length == 0">
    <h2>No results.</h2>
  </div>

</div>

