:host ::ng-deep {

    .item-title {
        font-size: large;
        font-weight: 700;
	margin: 0.5rem;
    }
    
    .item-description {
        margin: 0.5rem;
	height: 4rem;
    }
    
    .item-keywords {
        margin: 0.5rem 0 0.5rem 0;
	line-height: 180%;
    }

    .item-image-box {
	margin-top: 1rem;
	margin-bottom: 1rem;
    }
    
    .item-keyword {
        margin: 0.2rem;
	font-size: small;
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	border-radius: 0.8rem;
	display: inline-block;
	background-color: black;
	color: white;
    }
    
    .grid-item {

        margin: .5em;
        border: 1px solid var(--surface-border);
	height: 30rem;
    
        .grid-item-top,
        .grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        .grid-item-content {
            text-align: center;
        }
    }
    
    img {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		    0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .image.p-image {
	img {
	    height: 8rem;
	}
	.p-image-preview {
	    height: 24rem;
	}
    }

    .item-buttons {
        margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
    }

    button {
	margin: 1rem;
    }

}

