:host ::ng-deep {

    .item-list-item {

        display: flex;
        align-items: center;
        padding: 0.1rem;
        width: 100%;

	.item-list-image {
	    flex: 0 0 20%;
	    align-self: flex-centre;
	}
    
	.item-list-detail {
	    flex: 0 0 60%;
	    align-self: flex-start;
	}
    
	.item-title {
            font-weight: 700;
	    margin-top: 0.5rem;
	    margin-bottom: 0.5rem;
	    text-align: left;
	}
    
	.item-description {
	    padding-left: 2.2rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
	}
    
	.item-list-buttons {

	    flex: 0 0 20%;
	    align-self: flex-start;
	    margin: 1rem;

	    button {
		margin: 1rem;
	    }

	    .p-button {
		margin-bottom: .2rem;
		font-size: small;
	    }
	}
    
    }

    .item-image-box {
	margin-top: 1rem;
	margin-bottom: 1rem;
    }
    
    .item-keyword {
        margin: 0.2rem;
	font-size: small;
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	border-radius: 0.8rem;
	display: inline-block;
	background-color: black;
	color: white;
    }
    
    img {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		    0 3px 6px rgba(0, 0, 0, 0.23);
	margin: 1rem;
    }

    .image.p-image {
	img {
	    width: 100%;
	}

	.p-image-preview {
	    height: 24rem;
	}

    }

    .item-buttons {
        margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
    }

    button {
	margin: 1rem;
    }

}

