
<h2>Graph Gallery</h2>

<p-dataView #dv [value]="gallery" [paginator]="true" [rows]="3"
	    filterBy="title" layout="grid">

  <ng-template pTemplate="header">
    <div class="flex flex-column md:flex-row md:justify-content-between">
      <span class="p-input-icon-left mb-2 md:mb-0">
        <i class="pi pi-search"></i>
        <input type="search" pInputText [(ngModel)]="filterby"
	       placeholder="Search by title"
	       (input)="dv.filter(this.filterby)">
      </span>
    </div>
  </ng-template>

  <ng-template let-item pTemplate="gridItem">
    <div class="col-12 md:col-4">
      <div class="grid-item card">

        <div class="grid-item-content">

	  <div class="item-image-box">
	    <p-image
	      [src]="item.image" [alt]="item.title" [preview]="true"
	      styleClass="image">
	    </p-image>
	  </div>

          <div class="item-title">{{item.title}}</div>
          <div class="item-description">{{item.description}}</div>
          <div class="item-keywords">
	    <span class="item-keyword" *ngFor="let keyword of item.keywords">
	      {{keyword}}
	    </span>
	  </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>


