
<div *ngIf="gallery.length == 0">
  A graph gallery has not been set up on this store.
</div>

<div *ngIf="gallery.length > 0">

  <p-dataView #dv [value]="gallery" [paginator]="true" [rows]="10"
	      filterBy="title,description,keywords" layout="list">

    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
	<span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText [(ngModel)]="filterby"
		 placeholder="Search by title"
		 (input)="dv.filter(this.filterby)">
	</span>
      </div>
    </ng-template>

    <ng-template let-item pTemplate="gridItem">
      <div class="col-12 md:col-4">
	<div class="grid-item card">

          <div class="grid-item-content">

	    <div class="item-image-box">
	      <p-image
		[src]="item.image" [alt]="item.title" [preview]="true"
		styleClass="image">
	      </p-image>
	    </div>

            <div class="item-title">{{item.title}}</div>
            <div class="item-description">{{item.description}}</div>
            <div class="item-keywords">
	      <span class="item-keyword" *ngFor="let keyword of item.keywords">
		{{keyword}}
	      </span>
	    </div>
          </div>
	  <div class="item-buttons">
	    <button pButton pRipple type="button" label="Load"
		    icon="pi pi-file-import"	  
		    class="p-button-raised p-button-text p-button-sm"
		    (click)="load(item)">
	    </button>
	  </div>
	</div>
      </div>
    </ng-template>

    <ng-template let-item pTemplate="listItem">
      <div class="col-12">
        <div class="item-list-item">

          <div class="item-list-image">

	    <p-image
	      [src]="item.image" [alt]="item.title" [preview]="true"
	      styleClass="image">
	    </p-image>

	  </div>

          <div class="item-list-detail">

	    <button (click)="load(item)"
		    pButton pRipple type="button"
		    class="p-button-text item-title"
		    >
	      {{item.title}}
	    </button>
	    
            <div class="item-description">{{item.description}}</div>

          </div>

	  <div class="item-list-buttons">

            <div class="item-keywords">
	      <span class="item-keyword" *ngFor="let keyword of item.keywords">
		{{keyword}}
	      </span>
	    </div>

          </div>

        </div>
      </div>
    </ng-template>    

  </p-dataView>

</div>

