<div class="box controls" id="selection">

  <div>

    <button (click)="help()">
      Help
    </button>

    <button (click)="schema()">
      Schema
    </button>

    <button (click)="beginSearch()">
      Search
    </button>

    <button *ngIf="selection" (click)="recentre()">
      Re-centre
    </button>

    <button *ngFor="let rel of relationships" (click)="reln(rel)">
      <ng-container *ngIf="rel.inward">&#x2b95;</ng-container>
      {{rel.name}}
      <ng-container *ngIf="!rel.inward">&#x2b95;</ng-container>
    </button>

  </div>

  <div>
    {{info1}}
    <br>
    {{info2}}

  </div>

</div>

