<div class="box controls" id="selection">

  <div>

    <button pButton pRipple type="button" class="p-button-raised p-button-text"
	    (click)="help()">
      Help
    </button>

    <button pButton pRipple type="button" class="p-button-raised p-button-text"
	    (click)="schema()">
      Schema
    </button>

    <button pButton pRipple type="button" class="p-button-raised p-button-text"
	    (click)="beginSearch()">
      Search
    </button>

    <button *ngIf="selection"
	    pButton pRipple type="button" class="p-button-raised p-button-text"
	    (click)="recentre()">
      Re-centre
    </button>

    <button *ngFor="let rel of relationships" (click)="reln(rel)"
	    pButton pRipple type="button" class="p-button-raised p-button-text"
	    >
      <ng-container *ngIf="rel.inward">&#x2b95;</ng-container>
      {{rel.name}}
      <ng-container *ngIf="!rel.inward">&#x2b95;</ng-container>
    </button>

  </div>

  <div>
    {{info1}}
    <br>
    {{info2}}

  </div>

</div>

