<div class="box controls" id="selection">

  <div>

    <ng-container *ngIf="expansions.length == 0; else expansionControls">

      <button (click)="restart()">Restart</button>

      <button *ngIf="selection" (click)="expand()">
	Expand
      </button>

      <button *ngIf="selection" (click)="expandIn()">
	Expand inbound
      </button>
      
      <button *ngIf="selection" (click)="expandOut()">
	Expand outbound
      </button>

      <button *ngIf="selection" (click)="recentre()">
	Re-centre
      </button>

      <button (click)="schema()">
	Schema
      </button>

    </ng-container>

    <ng-template #expansionControls>
      <button (click)="closeExpansions()">
	back
      </button>
      <button *ngFor="let exp of expansions" (click)="expandWith(exp)">
	{{exp.name}}
      </button>
    </ng-template>

  </div>

  <div>
    {{info1}}
    <br>
    {{info2}}

  </div>

</div>

