
<p-sidebar class="dialog" position="right" [style]="{width:'40vw'}"
	  [(visible)]="display" [modal]="false"
	  (onHide)="onHide()">

  <ng-template pTemplate="header">
  </ng-template>

  <node-details
    [properties]="properties"
    [relationships]="relationships"
    [selection]="selection"
    >
  </node-details>

  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" class="p-button-raised p-button-text"
	    (click)="close()">
      Close
    </button>
  </ng-template>

</p-sidebar>

