
<p-dialog class="dialog"
	  [(visible)]="display" [modal]="false" position="right"
	  [breakpoints]="{'1200px': '25rem', '960px': '75vw', '640px': '100vw'}"
	  [style]="{width: '30rem'}"
	   (onHide)="onHide()">

  <ng-template pTemplate="header">
    <h2>Import graph</h2>
  </ng-template>

  <p>
    You can keep a copy of the graph layout by exporting a graph on the
    export dialogue.  Paste the graph state into the box below and
    click <b>Import</b> to load the graph into the same state.
  </p>

  <textarea pInputTextarea [(ngModel)]="data"
	    [rows]="9" [cols]="50"
	    [autoResize]="false"
	    >
  </textarea>

  <div>
    <button pButton pRipple type="button" class="p-button-raised p-button-text"
	    (click)="import()">
      Import
    </button>
  </div>

  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" class="p-button-raised p-button-text"
	    (click)="close()">
      Close
    </button>
  </ng-template>

</p-dialog>

